@import "tailwindcss";
@plugin "daisyui";

/* ===== PDF SAFE MODE ===== */
.idcard-card {
  width: 58mm;
  height: 90mm;
}


@media print {
  @page {
    size: A4;
    margin: 4mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}


