@import "tailwindcss";
@plugin "daisyui";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";


@media print {
  @page {
    size: A4;
    margin: 4mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}


